@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
 box-sizing: border-box;  
 margin: 0; 
 padding: 0;
 font-family: 'Paytone One', sans-serif;
 font-size: 20px;
}

body{
background-color: #fff59d;

}

.header{
    background-color: #baf5b4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100 px ;
    padding: 5px 10%;
  
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 95px;
    width: auto;
    transition: all .4s;
}
header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
    transition: all .3s;
}

.header .nav-links li:hover, .overlay a:hover{

    transform: scale(1.2);
}
.header .nav-links li a:hover{

    color: rgb(221, 99, 99) ;
}
.menu{
    display: none;
}

.header .nav-links a {
  
    color: #fff59d;
   -webkit-text-stroke: 1px black;
   

}

.header .btn button,
.header .menu button{
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color:#eceff1;
    padding: 9px 25px;
    background: rgb(221, 99, 99) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .4s;
    -webkit-text-stroke: .5px black;

}

.header .btn button:hover, .header .menu button:hover{

    background-color: #1eaa48;
    color: #eceff1;   
    transform: scale(1.2);
}
@media screen and (max-width:947px){
    .nav-links, #btn-contacto{
        display: none;
    }
    .menu   {
        display: inherit;
    }
}

/*Nav*/

.header a {
    
    text-decoration: none;


}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    overflow: hidden;
    z-index: 999;
    left:0;
    top:0;
 
    background-color: #baf5b4;
   
    transition: all .3s ease 0s;
   
 

    
}

.header .overlay .overlay-content{

display: flex;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: center;


 


}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all .3s ease 0s;
    font-weight: 700;
    color: #fff59d;
    -webkit-text-stroke: 1px black;
 
 
    
    
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #1eaa48 ;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
    
    


    
    
}

@media screen and (max-height:450px){
    .header .overlay a {
        font-size: 20px;
        
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.linkMasInfo{
  color:rgb(237, 94, 94) ;
  text-decoration: none;
}

.linkMasInfo:hover{
  color:rgb(255, 0, 0) ;
}


.pie-pagina{
    width: 100%;
    background-color:rgb(237, 94, 94) ;
    color:#eceff1 ;
    -webkit-text-stroke: .7px black;
   
}

.pie-pagina .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 1px;
padding: 15px 0px;


}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
    transition: .3s;
}
.pie-pagina .grupo-1 .box figure img:hover{
  
    transform: scale(1.2);
}
.pie-pagina .grupo-1 .box .enlace{
  
    text-decoration: none;
   
}

.pie-pagina .grupo-1 .box {
 
    margin-top: 10px;
  
 
}
.pie-pagina .grupo-1 .box h2{
 
     margin-bottom: 13px;
    font-size: 20px;
    color: #fff59d;
    -webkit-text-stroke: 1px black;
    transition: .3s;
  
}
.pie-pagina .grupo-1 .box h2:hover{
 
    transform: scale(1.2);
 
}
#icoWhat{
  
  transform: scale(2.1);
  padding-bottom: 20%;
}

.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #ffffff;
  color:#25d366;
  transform: scale(1.2);
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
}
}

.infoPersonal{
  color: #d9232d;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff59d;
    margin-right: 10px;
    background-color:rgb(240, 139, 139) ; 
    text-align: center;
    border-radius: 50px; 
    transition: .3s;
}
 
 
.pie-pagina .grupo-1 .red-social a:hover{
    
    transform: scale(1.2);
}

#link-desarrolladoPOr{
  text-decoration: none;
  color: #fff59d;
  -webkit-text-stroke: 1px black;
  transition: .3s;

}
 

 .red-social2 a{
  margin-left: 18%;
  display: inline-block;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: rgb(241, 36, 36) ;
  margin-right: 10px;
  background-color:rgb(255, 255, 255) ; 
  text-align: center;
  border-radius: 50px; 
  transition: .3s;
  transform: scale(1.6);
 }
 .red-social2 a:hover{
  
  transform: scale(1.9);
}
#invitamosASeguir{
  margin-top: 10%;
}

.pie-pagina .grupo-2  {
     padding: 10px 10px; 
     text-align: center;
     -webkit-text-stroke: .7px black;

}

.header .nav-links .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #baf5b4;
    border-color: black;
    border-radius: 10%;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .header .nav-links .dropdown ul li {
    min-width: 200px;
  
  }

  .header .nav-links .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
   
 
  }



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact  {
  margin-top: 5%;
  margin-bottom: 5%;
}


  .contact .info {
    width: 100%;
    background: #fff;
  }


  
  .contact .info i {
    font-size: 20px; 
    color: #fff59d; 
    float: left;
    width: 44px;
    height: 44px;
    background:#e24d55;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #556270;
  }

  #contact .container h2{
    color: #3f4146;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #8795a4;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
   scale: 1.2;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #e24d55;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #e24d55;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #e24d55;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    scale: 1.2;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  

 
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content  {
 margin-top: 5%;
 margin-bottom: 5%;
  
}
.about .content p ul{
  color: rgb(65, 64, 64);   
 }
 

.about .content .parrafos{
  text-align: justify;
}
.about .content h2 {
  color: #fff59d;
  -webkit-text-stroke: 1px black;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about .content h3 {
  color: #fff59d;
  -webkit-text-stroke: 2px black;
  font-weight: 500;
  line-height: 32px;
  font-size: 35px;
}

.about .content h4 {
 
  color: #fff59d;
  -webkit-text-stroke: 2px black;
}



.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #d9232d;
}

.about .content p:last-child {
  margin-bottom: 0;
}
 
 

  /* Seccion Carrusel*/

  #hero {
    width: 80%;
    height: 100vh;
    background-color: rgba(63, 73, 83, 0.8);
    overflow: hidden;
    position: relative;
    margin: auto;
    z-index: 1;
  }

  #hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 0.3s;
  color: rgb(54, 54, 54);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #d9232d;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: rgb(221, 99, 99);
}

#hero .btn-get-started:hover {
  background: #df3740;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

#masInfo{
    text-decoration: none;
}

#masInfo:hover{

    transform: scale(1.2);
}
 

#hero {
 margin-top: 10%;
 
 margin-bottom: 10%;
}

.img-fluid{
  border-radius: 5%;
}
.videox{
margin-top: 10%;
  border-radius: 3%;
 
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #d9232d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(85, 98, 112, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(85, 98, 112, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: white;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #d9232d;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #d9232d;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(85, 98, 112, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
